In [3]:
from selenium import webdriver

In [4]:
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [5]:
driver=webdriver.Chrome()

                                *********Scraping for Dubai city************

In [6]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQyIAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-782831&nflt=ht_id%3D204&offset=0')

In [7]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_dubai = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_dubai)

                                         Hotel Name  \
0                  Luxury residence in 5 star hotel
1                                  Resivation Hotel
2             Millennium Place Barsha Heights Hotel
3            IntercityHotel Dubai Jaddaf Waterfront
4                 Grand Excelsior Hotel - Bur Dubai
..                                              ...
217            Amwaj Rotana, Jumeirah Beach - Dubai
218                     Millennium Central Downtown
219              Gulf Oasis Hotel Apartments Fz LLC
220  Savoy Suites Hotel Apartment - Newly Renovated
221                             Marina Byblos Hotel

                               City     Review Number of Reviews Review Score
0               Business Bay, Dubai        8.0     1,960 reviews          8.0
1                       Show on map  Very good     8,497 reviews          8.3
2                             Dubai        8.3     3,588 reviews          8.0
3                       Show on map  Very good     4,013 reviews          8.1
4    Barsha Heights (Tecom) , Dubai        8.0       545 reviews          8.3
..                              ...        ...               ...          ...
217                           Dubai        8.3     4,679 reviews          8.3
218                     Show on map  Very good     4,120 reviews          6.5
219           Downtown Dubai, Dubai        9.1     2,262 reviews          8.0
220                     Show on map     Superb     1,541 reviews          8.1
221                    Deira, Dubai        7.1     3,488 reviews          7.6

[222 rows x 5 columns]

In [8]:
df_dubai['City'] = 'Dubai'

In [9]:
df_dubai['Number of Reviews'] = df_dubai['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [10]:
df_dubai.head(5)

,Hotel Name,City,Review,Number of Reviews,Review Score
0,Luxury residence in 5 star hotel,Dubai,8.0,1960,8.0
1,Resivation Hotel,Dubai,Very good,8497,8.3
2,Millennium Place Barsha Heights Hotel,Dubai,8.3,3588,8.0
3,IntercityHotel Dubai Jaddaf Waterfront,Dubai,Very good,4013,8.1
4,Grand Excelsior Hotel - Bur Dubai,Dubai,8.0,545,8.3

                    *************Scraping for London City*************

In [11]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQyIAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-2601889&nflt=ht_id%3D204')

In [12]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_london = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_london)

                                            Hotel Name  \
0                           The Quarters Swiss Cottage
1                                    Elsham Apartments
2                               Royal Lancaster London
3    The May Fair, A Radisson Collection Hotel, May...
4                       Hyatt Regency London Stratford
..                                                 ...
219                        The Collective Canary Wharf
220               Hyatt Regency London - The Churchill
221                             Snoozebox Olympic Park
222                                     Alhambra Hotel
223                                The Ampersand Hotel

                               City        Review Number of Reviews  \
0                    Camden, London           9.2         6 reviews
1                       Show on map        Superb        17 reviews
2    Kensington and Chelsea, London           6.6     5,134 reviews
3                       Show on map  Review score     4,129 reviews
4       Westminster Borough, London           9.0     2,367 reviews
..                              ...           ...               ...
219     Westminster Borough, London           9.2     1,496 reviews
220                     Show on map        Superb     1,749 reviews
221           Tower Hamlets, London           7.8     6,830 reviews
222                     Show on map          Good     3,122 reviews
223     Westminster Borough, London           7.8     2,550 reviews

    Review Score
0            9.2
1            6.6
2            9.0
3            8.1
4            8.3
..           ...
219          7.3
220          8.5
221          8.0
222          7.6
223          8.9

[224 rows x 5 columns]

In [13]:
df_london['City'] = 'London'
df_london['Number of Reviews'] = df_london['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [14]:
df_london.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,The Quarters Swiss Cottage,London,9.2,6,9.2
1,Elsham Apartments,London,Superb,17,6.6
2,Royal Lancaster London,London,6.6,5134,9.0
3,"The May Fair, A Radisson Collection Hotel, May...",London,Review score,4129,8.1
4,Hyatt Regency London Stratford,London,9.0,2367,8.3

            ************** Scraping Data for Kaula Lumpur, Malaysia ****************

In [16]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQyIAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-2403010&nflt=ht_id%3D204')

In [17]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Malaysia = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Malaysia)

                                        Hotel Name  \
0                     ViiA Residences Kuala Lumpur
1                      OYO 90865 Hotel De Nice Inn
2        Millerz Square Mid Valley, Old Klang Road
3          Chambers Residence Kuala Lumpur by Roam
4           Ceylonz Starlight Suites Bukit Bintang
..                                             ...
213                                 V Garden Hotel
214                  Hotel Pudu Plaza Kuala Lumpur
215                        The Westin Kuala Lumpur
216            Dolphin The Eaton KLCC Kuala Lumpur
217  Imperial Regency Suites & Hotel Petaling Jaya

                                       City        Review Number of Reviews  \
0                  Mid Valley, Kuala Lumpur           9.6         8 reviews
1                               Show on map   Exceptional         2 reviews
2                              Kuala Lumpur           3.5          1 review
3                               Show on map  Review score        21 reviews
4                  Mid Valley, Kuala Lumpur           1.0     3,647 reviews
..                                      ...           ...               ...
213                             Show on map   Exceptional       648 reviews
214  Kuala Lumpur City-Centre, Kuala Lumpur           8.1     1,630 reviews
215                             Show on map     Very good       347 reviews
216                      Pudu, Kuala Lumpur           9.0       270 reviews
217                             Show on map        Superb     2,027 reviews

    Review Score
0            9.6
1            3.5
2            1.0
3            7.8
4            8.3
..           ...
213          7.1
214          8.4
215          7.9
216          7.6
217          8.1

[218 rows x 5 columns]

In [18]:
df_Malaysia['City'] = 'Malaysia'
df_Malaysia['Number of Reviews'] = df_Malaysia['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [19]:
df_Malaysia.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,ViiA Residences Kuala Lumpur,Malaysia,9.6,8,9.6
1,OYO 90865 Hotel De Nice Inn,Malaysia,Exceptional,2,3.5
2,"Millerz Square Mid Valley, Old Klang Road",Malaysia,3.5,1,1.0
3,Chambers Residence Kuala Lumpur by Roam,Malaysia,Review score,21,7.8
4,Ceylonz Starlight Suites Bukit Bintang,Malaysia,1.0,3647,8.3

        ********************* Webscraping for City - Mancherster ************************

In [20]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQ2IAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-2602512&nflt=ht_id%3D204')

In [22]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 5

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Manchester = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Manchester)

                                            Hotel Name  \
0                      Motel One Manchester-Piccadilly
1         ibis Budget Manchester Centre Pollard Street
2    Holiday Inn Express Manchester City Centre, an...
3        Hampton By Hilton Manchester Northern Quarter
4                  Motel One Manchester-Royal Exchange
..                                                 ...
117                                        The Oxnoble
118                               Didsbury House Hotel
119              The Waterside Bar, Rooms & Restaurant
120                        Trivelles Mayfair,stockport
121                              King Street Townhouse

                                   City        Review Number of Reviews  \
0    Manchester City Centre, Manchester           8.7    12,800 reviews
1                           Show on map      Fabulous     7,412 reviews
2    Manchester City Centre, Manchester           7.1     6,318 reviews
3                           Show on map          Good     8,054 reviews
4    Manchester City Centre, Manchester           6.9    11,168 reviews
..                                  ...           ...               ...
117                         Show on map  Review score       806 reviews
118                          Manchester           7.2       119 reviews
119                         Show on map          Good     1,389 reviews
120            Old Trafford, Manchester           8.2     3,699 reviews
121                         Show on map     Very good     1,142 reviews

    Review Score
0            8.7
1            7.1
2            6.9
3            8.2
4            8.6
..           ...
117          9.0
118          8.8
119          6.4
120          9.1
121          9.4

[122 rows x 5 columns]

In [23]:
df_Manchester['City'] = 'Manchester'
df_Manchester['Number of Reviews'] = df_Manchester['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [24]:
df_Manchester.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,Motel One Manchester-Piccadilly,Manchester,8.7,12800,8.7
1,ibis Budget Manchester Centre Pollard Street,Manchester,Fabulous,7412,7.1
2,"Holiday Inn Express Manchester City Centre, an...",Manchester,7.1,6318,6.9
3,Hampton By Hilton Manchester Northern Quarter,Manchester,Good,8054,8.2
4,Motel One Manchester-Royal Exchange,Manchester,6.9,11168,8.6

                *********** Webscraping for City - New Delhi***************

In [25]:
driver.get("https://www.booking.com/searchresults.en-gb.html?label=en-in-booking-desktop-SoQWfYhAMBURf0HSQntj1AS652796016141%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-334108349%3Alp9302961%3Ali%3Adec%3Adm&sid=b8f957b39c045a637fc32a3a001d95d0&aid=2311236&city=-2106102&nflt=ht_id%3D204")

In [26]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_delhi = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_delhi)

                                            Hotel Name  \
0         Hotel TEj Unit by Flypath Near Delhi Airport
1                                      Hotel Anchal Dx
2                    OYO Flagship Hotel Yuvraj Paalace
3                      Hotel Tripple Tree - Karol Bagh
4                      Hotel Grand Suites By D Capitol
..                                                 ...
209  Hotels Paharganj International @ New Delhi rai...
210      Airport hotel Jupiter suites At Delhi Airport
211               Best Western Maharani Bagh New Delhi
212                              Airport Hotel Clayton
213                                  Airport Hotel IVY

                         City        Review Number of Reviews Review Score
0       South West, New Delhi           6.0         3 reviews          6.0
1                 Show on map  Review score       502 reviews          8.1
2        Paharganj, New Delhi           8.1       607 reviews          7.7
3                 Show on map     Very good       217 reviews          7.8
4    Central Delhi, New Delhi           7.7       637 reviews          7.7
..                        ...           ...               ...          ...
209               Show on map     Very good        48 reviews          7.7
210      Paharganj, New Delhi           4.0          1 review           10
211               Show on map  Review score       138 reviews          6.8
212     Karol bagh, New Delhi           8.8     1,659 reviews          7.2
213               Show on map      Fabulous     1,526 reviews          7.6

[214 rows x 5 columns]

In [27]:
df_delhi['City'] = 'New Delhi'
df_delhi['Number of Reviews'] = df_delhi['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [28]:
df_delhi.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,Hotel TEj Unit by Flypath Near Delhi Airport,New Delhi,6.0,3,6.0
1,Hotel Anchal Dx,New Delhi,Review score,502,8.1
2,OYO Flagship Hotel Yuvraj Paalace,New Delhi,8.1,607,7.7
3,Hotel Tripple Tree - Karol Bagh,New Delhi,Very good,217,7.8
4,Hotel Grand Suites By D Capitol,New Delhi,7.7,637,7.7

        *************** Webscraping for city - Birmingham *************************

In [29]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQ2IAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-2589989&nflt=ht_id%3D204')

In [31]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 3

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Birmingham = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Birmingham)

                                           Hotel Name  \
0                             The Birmingham Boutique
1                        Campanile Hotel - Birmingham
2   Holiday Inn Express Birmingham - Snow Hill, an...
3   Birmingham Strathallan Hotel, BW Signature Col...
4           Hampton by Hilton Birmingham Broad Street
..                                                ...
69                         Frederick Street Townhouse
70                     Hotel 5 Ravenhurst Drive M6 J7
71                                   OYO Adnans Hotel
72  Brindley Apt - Free Parking! Next Door To Aren...
73                            Hotel du Vin Birmingham

                                  City        Review Number of Reviews  \
0                           Birmingham           7.7     4,261 reviews
1                          Show on map          Good     5,029 reviews
2                           Birmingham           7.6     2,930 reviews
3                          Show on map          Good     8,476 reviews
4   Birmingham City Centre, Birmingham           6.9     7,923 reviews
..                                 ...           ...               ...
69               Edgbaston, Birmingham           7.4       843 reviews
70                         Show on map          Good        46 reviews
71               Edgbaston, Birmingham           4.7       109 reviews
72                         Show on map  Review score        25 reviews
73            The Westside, Birmingham           8.2     1,743 reviews

   Review Score
0           7.7
1           7.6
2           6.9
3           7.8
4           8.4
..          ...
69          8.2
70          7.5
71          6.4
72          7.7
73          8.2

[74 rows x 5 columns]

In [32]:
df_Birmingham['City'] = 'Birmingham'
df_Birmingham['Number of Reviews'] = df_Birmingham['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [33]:
df_Birmingham.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,The Birmingham Boutique,Birmingham,7.7,4261,7.7
1,Campanile Hotel - Birmingham,Birmingham,Good,5029,7.6
2,"Holiday Inn Express Birmingham - Snow Hill, an...",Birmingham,7.6,2930,6.9
3,"Birmingham Strathallan Hotel, BW Signature Col...",Birmingham,Good,8476,7.8
4,Hampton by Hilton Birmingham Broad Street,Birmingham,6.9,7923,8.4

            ********************* Webscraping for City - Berlin *******************

In [34]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQ2IAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-1746443&nflt=ht_id%3D204')

In [35]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Berlin = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Berlin)

                                            Hotel Name  \
0                                        SUITE & APART
1    Hotel Berlin, Berlin, a member of Radisson Ind...
2                        Scandic Berlin Kurfürstendamm
3    Holiday Inn Express - Berlin - Alexanderplatz,...
4    Holiday Inn Express Berlin City Centre, an IHG...
..                                                 ...
219                                 Hotel Orion Berlin
220                        greet Berlin Alexanderplatz
221                                   Hotel Mit-Mensch
222                              TITANIC Comfort Mitte
223                                  Schlosspark Hotel

                                   City     Review Number of Reviews  \
0                         Mitte, Berlin        8.1        70 reviews
1                           Show on map  Very good    11,002 reviews
2                         Mitte, Berlin        7.9     7,600 reviews
3                           Show on map       Good     8,519 reviews
4    Charlottenburg-Wilmersdorf, Berlin        8.1    10,181 reviews
..                                  ...        ...               ...
219        Tempelhof-Schöneberg, Berlin        8.4     1,212 reviews
220                         Show on map  Very good     1,449 reviews
221                       Mitte, Berlin        8.2     1,527 reviews
222                         Show on map  Very good     7,988 reviews
223    Friedrichshain-Kreuzberg, Berlin        8.2     1,620 reviews

    Review Score
0            8.1
1            7.9
2            8.1
3            8.2
4            8.1
..           ...
219          6.8
220          7.6
221          8.1
222          7.8
223          8.2

[224 rows x 5 columns]

In [36]:
df_Berlin['City'] = 'Berlin'
df_Berlin['Number of Reviews'] = df_Berlin['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [37]:
df_Berlin.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,SUITE & APART,Berlin,8.1,70,8.1
1,"Hotel Berlin, Berlin, a member of Radisson Ind...",Berlin,Very good,11002,7.9
2,Scandic Berlin Kurfürstendamm,Berlin,7.9,7600,8.1
3,"Holiday Inn Express - Berlin - Alexanderplatz,...",Berlin,Good,8519,8.2
4,"Holiday Inn Express Berlin City Centre, an IHG...",Berlin,8.1,10181,8.1

            ********************* Webscraping for city - Sydney **********************

In [38]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQ2IAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-1603135&nflt=ht_id%3D204')

In [39]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Sydney = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Sydney)

                            Hotel Name                  City     Review  \
0    Metro Hotel Marlow Sydney Central    Sydney CBD, Sydney        7.1
1           ibis Styles Sydney Central           Show on map       Good
2              ibis budget Sydney East    Sydney CBD, Sydney        7.5
3             ibis Sydney World Square           Show on map       Good
4          Great Southern Hotel Sydney  Darlinghurst, Sydney        7.3
..                                 ...                   ...        ...
220        The Woolstore 1888 by Ovolo         Bondi, Sydney        8.5
221             Mercure Sydney Wynyard           Show on map  Very good
222      Citadines Walker North Sydney    Parramatta, Sydney        8.6
223      Mercure Sydney Macquarie Park           Show on map   Fabulous
224          Meriton Suites North Ryde    Sydney CBD, Sydney        8.7

    Number of Reviews Review Score
0       4,119 reviews          7.1
1       5,802 reviews          7.5
2       1,945 reviews          7.3
3       2,210 reviews          7.4
4       7,796 reviews          7.9
..                ...          ...
220     1,389 reviews          8.5
221     4,405 reviews          7.8
222        65 reviews          8.9
223     1,189 reviews          8.0
224     1,962 reviews          8.7

[225 rows x 5 columns]

In [40]:
df_Sydney['City'] = 'Sydney'
df_Sydney['Number of Reviews'] = df_Sydney['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [41]:
df_Sydney.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,Metro Hotel Marlow Sydney Central,Sydney,7.1,4119,7.1
1,ibis Styles Sydney Central,Sydney,Good,5802,7.5
2,ibis budget Sydney East,Sydney,7.5,1945,7.3
3,ibis Sydney World Square,Sydney,Good,2210,7.4
4,Great Southern Hotel Sydney,Sydney,7.3,7796,7.9

            ******************** Webscraping for city - Melbourne *********************

In [42]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQ2IAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-1586844&nflt=ht_id%3D204')

In [43]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Melbourne = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Melbourne)

                                 Hotel Name                       City  \
0          Manhattan Apartments - Glen Iris                  Melbourne
1                    ibis Melbourne Central                Show on map
2                        Causeway 353 Hotel   Melbourne CBD, Melbourne
3                         Dorsett Melbourne                Show on map
4                    Clarion Suites Gateway   Melbourne CBD, Melbourne
..                                      ...                        ...
220                    The Westin Melbourne         Carlton, Melbourne
221                    Quest East Melbourne                Show on map
222                          Quest Jolimont  Port Melbourne, Melbourne
223  Hyatt Place Melbourne, Essendon Fields                Show on map
224         Comfort Hotel Melbourne Central   Melbourne CBD, Melbourne

        Review Number of Reviews Review Score
0          8.0         5 reviews          8.0
1    Very good     3,855 reviews          8.2
2          8.2     6,962 reviews          8.0
3    Very good     1,462 reviews          8.7
4          8.0     3,064 reviews          8.5
..         ...               ...          ...
220        7.8       854 reviews          8.8
221       Good       577 reviews          8.3
222        8.1       535 reviews          8.6
223  Very good       882 reviews          8.5
224        8.8        54 reviews          6.2

[225 rows x 5 columns]

In [48]:
df_Melbourne['City'] = 'Melbourne'
df_Melbourne['Number of Reviews'] = df_Melbourne['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [49]:
df_Melbourne.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,Manhattan Apartments - Glen Iris,Melbourne,8.0,5,8.0
1,ibis Melbourne Central,Melbourne,Very good,3855,8.2
2,Causeway 353 Hotel,Melbourne,8.2,6962,8.0
3,Dorsett Melbourne,Melbourne,Very good,1462,8.7
4,Clarion Suites Gateway,Melbourne,8.0,3064,8.5

            ******************** Webscraping for city - Paris *******************

In [51]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQ2IAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-1456928&nflt=ht_id%3D204')

In [52]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Paris = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Paris)

                                        Hotel Name              City  \
0                               Les Suites Cinabre   9th arr., Paris
1                           Hôtel Avenir Jonquière       Show on map
2                          Wonderful home in PARIS  17th arr., Paris
3    Holiday Inn Paris Gare de l'Est, an IHG Hotel       Show on map
4                      citizenM Paris Gare de Lyon  20th arr., Paris
..                                             ...               ...
218         Citadines Saint-Germain-des-Prés Paris  17th arr., Paris
219                                      L'Adresse       Show on map
220                               Les Plumes Hotel  19th arr., Paris
221                             Maison Malesherbes       Show on map
222                                  Relais du Pré  15th arr., Paris

           Review Number of Reviews Review Score
0             7.9     1,786 reviews          7.9
1            Good         2 reviews          2.0
2             2.0     5,529 reviews          7.6
3    Review score     9,871 reviews          8.3
4             7.6     6,523 reviews          8.7
..            ...               ...          ...
218           8.0     3,446 reviews          8.0
219     Very good       897 reviews          7.2
220           8.4       430 reviews          8.4
221     Very good       530 reviews          8.6
222           8.6     1,161 reviews          8.1

[223 rows x 5 columns]

In [53]:
df_Paris['City'] = 'Paris'
df_Paris['Number of Reviews'] = df_Paris['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [54]:
df_Paris.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,Les Suites Cinabre,Paris,7.9,1786,7.9
1,Hôtel Avenir Jonquière,Paris,Good,2,2.0
2,Wonderful home in PARIS,Paris,2.0,5529,7.6
3,"Holiday Inn Paris Gare de l'Est, an IHG Hotel",Paris,Review score,9871,8.3
4,citizenM Paris Gare de Lyon,Paris,7.6,6523,8.7

                ********************* Scraping Data for CIty - Tokyo ****************************

In [55]:
driver.get('https://www.booking.com/searchresults.en-gb.html?label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQ2IAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&aid=397646&city=-246227&nflt=ht_id%3D204')

In [56]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Tokyo = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Tokyo)

                                            Hotel Name                City  \
0                            Section L Residence Ginza    Chuo Ward, Tokyo
1    HOTEL LITTLE BIRD OKU-ASAKUSA / Vacation STAY ...         Show on map
2    HOTEL LITTLE BIRD OKU-ASAKUSA / Vacation STAY ...        Taito, Tokyo
3               TOKYO HOUSE INN - Vacation STAY 02027v         Show on map
4               Hotel Tokyo Hub - Vacation STAY 27684v        Taito, Tokyo
..                                                 ...                 ...
215                            Outlet Hotel UenoEkimae        Taito, Tokyo
216          APA Hotel Asakusa Shin Okachimachi Ekimae         Show on map
217                                 Shibuya Tobu Hotel       Minato, Tokyo
218                   Henn na Hotel Tokyo Hamamatsucho         Show on map
219                                         Ueno Hotel  Sumida Ward, Tokyo

        Review Number of Reviews Review Score
0          8.0       535 reviews          8.0
1    Very good       668 reviews          8.1
2          8.1     4,501 reviews          8.3
3    Very good     1,353 reviews          8.4
4          8.3     3,429 reviews          8.7
..         ...               ...          ...
215        8.0       997 reviews          7.9
216  Very good     1,094 reviews          8.3
217        8.5     1,251 reviews          8.0
218  Very good     2,265 reviews          7.8
219        8.2     2,586 reviews          7.4

[220 rows x 5 columns]

In [57]:
df_Tokyo['City'] = 'Tokyo'
df_Tokyo['Number of Reviews'] = df_Tokyo['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [58]:
df_Tokyo.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,Section L Residence Ginza,Tokyo,8.0,535,8.0
1,HOTEL LITTLE BIRD OKU-ASAKUSA / Vacation STAY ...,Tokyo,Very good,668,8.1
2,HOTEL LITTLE BIRD OKU-ASAKUSA / Vacation STAY ...,Tokyo,8.1,4501,8.3
3,TOKYO HOUSE INN - Vacation STAY 02027v,Tokyo,Very good,1353,8.4
4,Hotel Tokyo Hub - Vacation STAY 27684v,Tokyo,8.3,3429,8.7

            ********************* Web Scrapping for City - Toronto ****************************

In [59]:
driver.get('https://www.booking.com/searchresults.en-gb.html?aid=397646&label=yho748jc-1FCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQHoAQH4AQ2IAgGoAgO4AurS96YGwAIB0gIkMTJhN2VkNjAtYzc1MS00MjVhLTg3ZjYtMzI5ZWMzNzlkNzhm2AIG4AIB&sid=b8f957b39c045a637fc32a3a001d95d0&city=-574890&')

In [60]:
import pandas as pd
import time

hotel_reviews = []

# Define the number of pages you want to scrape (5 in this case)
start_page = 1
end_page = 9

for page in range(start_page, end_page + 1):
    # Add your scraping code here (similar to the previous code)
    review_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@aria-label]')
    reviews_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[@class="abf093bdfe f45d8e4c32 d935416c47"]')
    score_elements = driver.find_elements(By.XPATH, '//div[@data-testid="review-score"]//div[contains(@aria-label, "Scored")]')
    name_elements = driver.find_elements(By.XPATH, '//div[@data-testid="title"]')  # Add XPath for hotel names
    city_elements = driver.find_elements(By.XPATH, '//span[@class="aee5343fdb def9bc142a"]')  # Add XPath for city
    
    for review, reviews, score, name, city in zip(review_elements, reviews_elements, score_elements, name_elements, city_elements):
        review_text = review.text.strip()
        reviews_text = reviews.text.strip()
        score_text = score.text.strip()
        name_text = name.text.strip()  # Extract hotel names
        city_text = city.text.strip()  # Extract city
        
        # Store the data in a suitable data structure, e.g., a list of dictionaries
        hotel_reviews.append({
            "Hotel Name": name_text,
            "City": city_text,  # Include city information
            "Review": review_text,
            "Number of Reviews": reviews_text,
            "Review Score": score_text
        })

    # Click the "Next" button to navigate to the next page
    nxt_button = driver.find_element(By.XPATH, '//div[@class="b16a89683f cab1524053"]')
    nxt_button.click()
    
    # Add a short delay to allow the next page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
df_Toronto = pd.DataFrame(hotel_reviews)

# Print the DataFrame
print(df_Toronto)

                                            Hotel Name  \
0                              The Rosemont Residences
1    InstantSuites- PentHouse - Balcony - Views - P...
2                Toronto Luxury Accommodations - QWEST
3                       Centrally located studio Suite
4          Art and Design District Loft family welcome
..                                                 ...
153                                  Downtown Property
154                                     Filmores Hotel
155                              Sonder at The Liberty
156   Beautiful City Views Downtown next to Yorkville!
157    Cheerful 3 Bedrooms Free Parking (Entire house)

                          City        Review Number of Reviews Review Score
0    Downtown Toronto, Toronto           8.5        48 reviews          8.5
1                  Show on map     Very good         4 reviews          7.2
2    The Harbourfront, Toronto           7.2        16 reviews          8.1
3                  Show on map          Good          1 review          6.0
4    Downtown Toronto, Toronto           8.1          1 review           10
..                         ...           ...               ...          ...
153                Show on map          Good         5 reviews          8.8
154                    Toronto           6.9       245 reviews          9.4
155                Show on map  Review score     1,477 reviews          8.8
156  The Harbourfront, Toronto           9.7          1 review           10
157                Show on map   Exceptional        21 reviews          7.8

[158 rows x 5 columns]

In [61]:
df_Toronto['City'] = 'Toronto'
df_Toronto['Number of Reviews'] = df_Toronto['Number of Reviews'].str.replace('[^\d]', '', regex=True)

In [62]:
df_Toronto.head()

,Hotel Name,City,Review,Number of Reviews,Review Score
0,The Rosemont Residences,Toronto,8.5,48,8.5
1,InstantSuites- PentHouse - Balcony - Views - P...,Toronto,Very good,4,7.2
2,Toronto Luxury Accommodations - QWEST,Toronto,7.2,16,8.1
3,Centrally located studio Suite,Toronto,Good,1,6.0
4,Art and Design District Loft family welcome,Toronto,8.1,1,10

In [63]:
combined_df = pd.concat([df_dubai, df_london, df_Malaysia, df_Manchester, df_delhi, df_Birmingham, df_Berlin, df_Sydney, df_Melbourne,
                        df_Paris, df_Tokyo, df_Toronto], ignore_index=True)

In [64]:
combined_df

,Hotel Name,City,Review,Number of Reviews,Review Score
0,Luxury residence in 5 star hotel,Dubai,8.0,1960,8.0
1,Resivation Hotel,Dubai,Very good,8497,8.3
2,Millennium Place Barsha Heights Hotel,Dubai,8.3,3588,8.0
3,IntercityHotel Dubai Jaddaf Waterfront,Dubai,Very good,4013,8.1
4,Grand Excelsior Hotel - Bur Dubai,Dubai,8.0,545,8.3
...,...,...,...,...,...
2344,Downtown Property,Toronto,Good,5,8.8
2345,Filmores Hotel,Toronto,6.9,245,9.4
2346,Sonder at The Liberty,Toronto,Review score,1477,8.8
2347,Beautiful City Views Downtown next to Yorkville!,Toronto,9.7,1,10
2348,Cheerful 3 Bedrooms Free Parking (Entire house),Toronto,Exceptional,21,7.8

In [65]:
combined_df.to_csv('csv1.csv', index=False)

In [66]:
df_review = pd.read_csv('csv1.csv')

In [67]:
df_review.isnull().sum()

Hotel Name           0
City                 0
Review               0
Number of Reviews    0
Review Score         0
dtype: int64

In [68]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Hotel Name         2349 non-null   object
 1   City               2349 non-null   object
 2   Review             2349 non-null   object
 3   Number of Reviews  2349 non-null   int64
 4   Review Score       2349 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 91.9+ KB